$colors: (
  silver-lake-blue: #6290c8,
  prussian-blue: #022f40,
  raisin-black: #1f2232,
  pistachio: #a5c882,
  lavender-blush: #f5e6e8,
  vista-blue: #829cbc,
  ghost-white: #f2f4ff,
  lightest-grey: #ececec,
  light-grey: #ccc,
  greyish: #d4d4d4,
);
