// .babelrc

{
  "presets": [
    "@babel/preset-env",
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "components": "./src/components",
          "contexts": "./src/contexts"
        }
      }
    ],
    ["@babel/plugin-proposal-decorators", { "legacy": true }]
  ]
}
