@import "../../../styles/utils/mixins";

.wrapper {
  @include flex(column);
}

.list-wrapper {
  @include flex(row);
  flex-wrap: wrap;
  margin: 100px -12px 0;
}

.item {
  width: calc(100% / 4);
  @include flex(row);
  align-items: stretch;
  flex: 0 0 auto;
  a {
    // @include flex(row);
    // height: 100%;
    // align-items: stretch;
    width: 100%;
  }
}
